html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.auth-container {
  background: #099ac8 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.jexcel_content {
  box-shadow: none !important;
  padding: 5px !important;
  overflow: hidden !important;
}

.jexcel_container {
  padding-right: 0px !important;
}

.jexcel {
  width: 100% !important;
  background-color: #40b872 ;
}

table[class~="jexcel"]{
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 0px;
}

iframe{
  height:fit-content;
  border-radius: 10px 10px 10px 10px;
}

td[title="Length"],
td[title="Quantity"],
td[title="Name"],
td[title="Use"],
td[title="Angle 1"],
td[title="Angle 2"],
td[class="jexcel_selectall"],
td td:first-child{
  background-color: #dee4d9 ;
} 

td[title="Use"]{
  border-radius: 0 10px 0 0;
}
td[class="jexcel_selectall"]{
  border-radius: 10px 0 0 0;
}

div[id="toolbarContainer"]{
  background-color:#40b872;
}
.jexcel{
  background-color: #1a1616 ;
}

input[type='checkbox']{
  background-color: #1a1616 ;
  background: #FFF;
}


.jexcel_toolbar{
  background-color: #099ac8 ;
}

col{
  width: 30px;
}
